*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root {
  --primary: rgb(34, 34, 34);
  --textPrimary: whitesmoke;
  --buttonPrimary: rgb(65, 65, 65);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  z-index: 100;
  /* display: none;  */
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

html,
body {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  /* background-color: rgb(235, 236, 230); */
  background-color: rgb(61, 60, 60);
  margin: 0px;
  position: relative;

  overflow-x: hidden;
}

.pagesContainer{
    height:100%;
    width: 100%;
   
    display: flex;
    justify-content: center;
    /* align-items: center; */
}