.leaderboard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.leaderboard-level-container{
    padding: 0;
    transition: all 0.2s ease;
 
  cursor: pointer;
    position: relative;
}
.leaderboard-level-container-active {
  transform: scale(1.04);
 
}
.leaderboard-level-container:hover {
  transform: scale(1.03);
}
.leaderboard-levels-grid{
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    column-gap: 1rem;
    width: 70%;
}

.leaderboard-level-image{
    width: 100%;
     box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem;
}


.leaderboard-level-image-active{
   
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.85);
}
.leaderboard-level-name{
    color: white;
    top:10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.leaderboard-level-title{
    font-size: 2.3rem;
    color: white;
    background-color: wheat;
 padding: 0.5rem 2rem;
 border-radius: 2rem;
    margin: 1.5rem 0;
}
.N64,
.Gamecube {
  background-color: #bd3b39;

}
.Dreamcast {
  background-color: #218cb8;

}
.PS1,
.PS2,
.PS4 {
  background-color: #48428a;

}
.XBox,
.XBox360 {
  background-color: #359e4a;
}

.leaderboard-table-container{
    width: 70%;
    
}